/*!
Theme Name: Reiki School Theme
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Custom theme: Reiki School Theme, developed by
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: reikischool
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Reiki School Theme is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, sass/generic/_normalize.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, sass/generic/_normalize.scss */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
/* line 31, sass/generic/_normalize.scss */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 40, sass/generic/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 53, sass/generic/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 64, sass/generic/_normalize.scss */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 76, sass/generic/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 85, sass/generic/_normalize.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 95, sass/generic/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 105, sass/generic/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 116, sass/generic/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 125, sass/generic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 133, sass/generic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 137, sass/generic/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 148, sass/generic/_normalize.scss */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 160, sass/generic/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 176, sass/generic/_normalize.scss */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 186, sass/generic/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 195, sass/generic/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 206, sass/generic/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 218, sass/generic/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 229, sass/generic/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
/* line 240, sass/generic/_normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 253, sass/generic/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 261, sass/generic/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 270, sass/generic/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 280, sass/generic/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 290, sass/generic/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 299, sass/generic/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 308, sass/generic/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 320, sass/generic/_normalize.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 328, sass/generic/_normalize.scss */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 339, sass/generic/_normalize.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 347, sass/generic/_normalize.scss */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* line 3, sass/generic/_box-sizing.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 9, sass/generic/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
/* line 1, sass/base/typography/_typography.scss */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 1, sass/base/typography/_headings.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

/* line 1, sass/base/typography/_copy.scss */
p {
  margin-bottom: 1.5em;
}

/* line 5, sass/base/typography/_copy.scss */
dfn,
cite,
em,
i {
  font-style: italic;
}

/* line 12, sass/base/typography/_copy.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 16, sass/base/typography/_copy.scss */
address {
  margin: 0 0 1.5em;
}

/* line 20, sass/base/typography/_copy.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 30, sass/base/typography/_copy.scss */
code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 37, sass/base/typography/_copy.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 43, sass/base/typography/_copy.scss */
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 49, sass/base/typography/_copy.scss */
big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
/* line 1, sass/base/elements/_body.scss */
body {
  background: #fff;
}

/* line 1, sass/base/elements/_hr.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 1, sass/base/elements/_lists.scss */
ul,
ol {
  margin: 0 0 1.5em 3em;
}

/* line 6, sass/base/elements/_lists.scss */
ul {
  list-style: disc;
}

/* line 10, sass/base/elements/_lists.scss */
ol {
  list-style: decimal;
}

/* line 14, sass/base/elements/_lists.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 20, sass/base/elements/_lists.scss */
dt {
  font-weight: 700;
}

/* line 24, sass/base/elements/_lists.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
/* line 2, sass/base/elements/_media.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/* line 8, sass/base/elements/_media.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 13, sass/base/elements/_media.scss */
figure {
  margin: 1em 0;
}

/* line 1, sass/base/elements/_tables.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
/* line 1, sass/base/elements/_links.scss */
a {
  color: #4169e1;
}
/* line 4, sass/base/elements/_links.scss */
a:visited {
  color: #800080;
}
/* line 8, sass/base/elements/_links.scss */
a:hover, a:focus, a:active {
  color: #191970;
}
/* line 14, sass/base/elements/_links.scss */
a:focus {
  outline: thin dotted;
}
/* line 18, sass/base/elements/_links.scss */
a:hover, a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
/* line 1, sass/base/elements/_buttons.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
/* line 13, sass/base/elements/_buttons.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}
/* line 17, sass/base/elements/_buttons.scss */
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

/* line 1, sass/base/elements/_fields.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
/* line 22, sass/base/elements/_fields.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

/* line 27, sass/base/elements/_fields.scss */
select {
  border: 1px solid #ccc;
}

/* line 31, sass/base/elements/_fields.scss */
textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/* line 1, sass/layouts/_content-sidebar.scss */
.site {
  display: grid;
  grid-template-columns: 1fr minmax(450px, 1170px) 1fr;
  grid-template-areas: ". header ." "banner banner banner" ". main ." ". sidebar ." "footer footer footer";
}

/* line 12, sass/layouts/_content-sidebar.scss */
.site-header {
  grid-area: header;
}

/* line 15, sass/layouts/_content-sidebar.scss */
.banner {
  grid-area: banner;
}

/* line 18, sass/layouts/_content-sidebar.scss */
.site-main {
  grid-area: main;
  overflow: hidden;
  /* Resolves issue with <pre> elements forcing full width. */
}

/* line 23, sass/layouts/_content-sidebar.scss */
.widget-area {
  grid-area: sidebar;
}

/* line 27, sass/layouts/_content-sidebar.scss */
.site-footer {
  grid-area: footer;
}

/* line 3, sass/layouts/_no-sidebar.scss */
.no-sidebar .site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "header" "main" "footer";
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
/* line 1, sass/components/navigation/_navigation.scss */
.main-navigation {
  display: block;
  width: 100%;
}
/* line 5, sass/components/navigation/_navigation.scss */
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
/* line 11, sass/components/navigation/_navigation.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}
/* line 19, sass/components/navigation/_navigation.scss */
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
/* line 26, sass/components/navigation/_navigation.scss */
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}
/* line 33, sass/components/navigation/_navigation.scss */
.main-navigation ul ul a {
  width: 200px;
}
/* line 46, sass/components/navigation/_navigation.scss */
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
/* line 52, sass/components/navigation/_navigation.scss */
.main-navigation li {
  position: relative;
}
/* line 60, sass/components/navigation/_navigation.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
/* line 73, sass/components/navigation/_navigation.scss */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  /* line 80, sass/components/navigation/_navigation.scss */
  .menu-toggle {
    display: none;
  }

  /* line 84, sass/components/navigation/_navigation.scss */
  .main-navigation ul {
    display: flex;
  }
}
/* line 93, sass/components/navigation/_navigation.scss */
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
}
/* line 97, sass/components/navigation/_navigation.scss */
.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}
/* line 101, sass/components/navigation/_navigation.scss */
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}
/* line 105, sass/components/navigation/_navigation.scss */
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
/* line 1, sass/components/content/_posts-and-pages.scss */
.sticky {
  display: block;
}

/* line 5, sass/components/content/_posts-and-pages.scss */
.post,
.page {
  margin: 0 0 1.5em;
}

/* line 10, sass/components/content/_posts-and-pages.scss */
.updated:not(.published) {
  display: none;
}

/* line 14, sass/components/content/_posts-and-pages.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 20, sass/components/content/_posts-and-pages.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
/* line 1, sass/components/comments/_comments.scss */
.comment-content a {
  word-wrap: break-word;
}

/* line 5, sass/components/comments/_comments.scss */
.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
/* line 1, sass/components/widgets/_widgets.scss */
.widget {
  margin: 0 0 1.5em;
}
/* line 5, sass/components/widgets/_widgets.scss */
.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
/* line 1, sass/components/media/_media.scss */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
/* line 11, sass/components/media/_media.scss */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
/* line 1, sass/components/media/_captions.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
/* line 5, sass/components/media/_captions.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 10, sass/components/media/_captions.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 15, sass/components/media/_captions.scss */
.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
/* line 1, sass/components/media/_galleries.scss */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

/* line 7, sass/components/media/_galleries.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

/* line 21, sass/components/media/_galleries.scss */
.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
/* line 2, sass/plugins/jetpack/_infinite-scroll.scss */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
/* line 8, sass/plugins/jetpack/_infinite-scroll.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
/* line 2, sass/utilities/_accessibility.scss */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
/* line 14, sass/utilities/_accessibility.scss */
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
/* line 36, sass/utilities/_accessibility.scss */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
/* line 1, sass/utilities/_alignments.scss */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

/* line 11, sass/utilities/_alignments.scss */
.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

/* line 21, sass/utilities/_alignments.scss */
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
