.site {
	display: grid;
	grid-template-columns: 1fr minmax(450px, 1170px) 1fr;
	grid-template-areas:
		". header ."
		"banner banner banner"
		". main ."
		". sidebar ."
		"footer footer footer";
}

.site-header {
	grid-area: header;
}
.banner {
	grid-area: banner;
}
.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
